#root {
    font-family: 'Anybody', cursive;
    font-family: 'Courgette', cursive;
}

.app {
    margin: 0;
}

.text_section {
    max-width: 1000px;
    margin: 0 auto;
}

.text_section h2 {
    text-align: center;
}


/*Slider*/

.slider {
    background: #cbdbdd;
    color: white;
    margin: 10px;
    padding: 2%;
    position: relative;
}

.slick-next:before {
    color: rgb(40, 0, 240);
}

.slick-prev:before {
    color: rgb(40, 0, 240);
}














